-var breadcrumbs = breadcrumbs

nav(class='columns breadcrumb has-succeeds-separator' aria-label='breadcrumbs')
    ul(class='column is-10 is-offset-1')
        each val in breadcrumbs
            li
                a(href=val.src class='is-size-3-tablet is-size-6-desktop')=val.text